<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BasePullRequestUrl" value="https://dev.azure.com/quantumphinance/InsightCorp/_apis/git/repositories/InsightCorp/pullrequests"/>
		<add key="PullRequestUiUrl" value="https://quantumphinance.visualstudio.com/InsightCorp/_git/InsightCorp/pullrequest/"/>
		<add key="WorkItemUiUrl" value="https://quantumphinance.visualstudio.com/InsightCorp/_workitems/edit/"/>
		<add key="ApiVersion" value="api-version=7.0"/>
		<add key="PatToken" value="5g2l4ba3ry3llzlf7kmdwlgxle6jauyfyggvyi5nj7a6b4cktebq"/>
	</appSettings>
</configuration>


